.characterList_list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-evenly;
  grid-gap: 10px;
}
.anchor {
  display: block;
  position: relative;
  top: -180px;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .characterList_list {
    grid-template-columns: repeat(1, 200px);
  }
}
