.moviesList {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-evenly;
  grid-gap: 10px;
}

@media only screen and (max-width: 768px) {
  .moviesList {
    grid-template-columns: repeat(1, 200px);
    margin-bottom: 50px;
  }
}
