:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: #0f0f0f;
  max-width: 1200px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
