// Colors
$black: #0f0f0f;
$white: #f8f8f8;
$gold: #cd9b00;
$brown: #916c39;
$gray: rgb(75, 75, 75);

// Flex
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin titleFont($size) {
  font-family: 'Almendra', serif;
  font-size: $size;
}

@mixin subtitleFont($size) {
  font-family: 'Almendra SC', serif;
  font-size: $size;
}

@mixin quoteFont($size) {
  font-family: 'Caveat', cursive;
  font-size: $size;
}

@mixin textFont($size) {
  font-family: 'Roboto Flex', sans-serif;
  font-size: $size;
}
